<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Auxiliary Analytics</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <div class="container" style="max-width: 500px; margin-top: 10rem;">
        <h1>Auxiliary Analytics</h1>
        <p>Please enter the password to access the site.</p>

        {% if error %}
        <div class="alert alert-error">
            <p style="color: red;">{{ error }}</p>
        </div>
        {% endif %}

        <form method="POST">
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter password" required autofocus>
                <input class="button-primary" type="submit" value="Login">
            </fieldset>
        </form>
    </div>
</body>
</html>
